name: Django CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Set up Python 3.10.12
      uses: actions/setup-python@v6
      with:
        python-version: "3.10.12"
        cache: "pip"
    
    - name: Install Dependencies
      run: |
        pip install -r api/requirements.txt

    - name: Run Backend Tests
      run: |
        cd api
        python manage.py test